.venv/
/logs/train
/data/esm2_token_embeddings_sharded
/data/esm2_token_embeddings_sharded_fp16
/data/esm2_token_embeddings_sharded_fp16_sorted
/data/esm2_embeddings_test_fixed.pt
/data/esm2_embeddings_test.pt
/predictions/*
